<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Personalizar Perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-card class="background">
  <ion-card-content> -->

    <!-- <ion-text color="dark" class="ion-text-center" id="teste">
  <h3>Você está a um passo de ter uma experiência incrível!</h3>
  <p>Preencha todos os campos abaixo.</p>
</ion-text> -->

    <!-- </ion-card-content>
</ion-card> -->

    <img src="{{imagem}}" width="100%" />

    <ion-item>
        <input type="file" (change)="uploadImage($event)" />
    </ion-item>

    <form [formGroup]="formGroup">
        <ion-card class="background">
            <ion-card-header>
                <ion-card-title class="ion-text-center" color="dark">Personalizar Perfil</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item id="grad">
                    <ion-label position="floating" color="light">Nome</ion-label>
                    <ion-input formControlName="nome" color="light"></ion-input>
                </ion-item>
                <ion-item id="grad">
                    <ion-label position="floating" color="light">E-mail</ion-label>
                    <ion-input formControlName="email" color="light"></ion-input>
                </ion-item>
                <ion-item id="grad">
                    <ion-label position="floating" color="light">Endereço</ion-label>
                    <ion-input formControlName="endereco" color="light"></ion-input>
                </ion-item>
                <ion-item id="grad">
                    <ion-label position="floating" color="light">Telefone</ion-label>
                    <ion-input formControlName="telefone" color="light"></ion-input>
                </ion-item>
                <ion-grid class="ion-text-center">
                    <ion-row>

                        <ion-col>
                            <ion-button expand="full" color="medium" (click)="atualizar()">Próximo</ion-button>
                        </ion-col>

                    </ion-row>

                </ion-grid>
            </ion-card-content>

        </ion-card>
    </form>

</ion-content>