<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start">

          <ion-back-button></ion-back-button>

      </ion-buttons>
    

    <ion-title class="ion-text-center">Low Carb</ion-title>

  </ion-toolbar>

</ion-header>
  <ion-content fullscreen class="ion-padding">
   
 
    <ion-card>
      <ion-card-content>
        <ion-text class="ion-text-center" color="light">
          <h1>Dieta Low Carb</h1>
          <h4>A dieta Low Carb é definida pela Organização de Diabetes do Reino Unido como uma dieta onde existe uma redução do consumo de carboidratos, devendo-se ingerir menos de 130 g deste macronutriente por dia. Uma vez que esta quantidade de carboidratos representa apenas 26% da energia necessária para o organismo, o resto deve ser proporcionado pelo consumo de gorduras boas e proteínas.</h4>
        </ion-text>
      
      </ion-card-content>
      
    </ion-card>
 
</ion-content>