<ion-header>
  <ion-toolbar>
    
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="formGroup">
  <ion-list lines="full" class="ion-no-margin">

    <ion-list-header lines="full">


    </ion-list-header>
    <ion-label>

      <p *ngIf="formGroup.controls.username.errors && formGroup.controls.username.dirty">E-mail Inválido</p>
    </ion-label>  
    <ion-label>

      <p *ngIf="formGroup.controls.password.errors && formGroup.controls.password.dirty">Senha Inválida</p>
    </ion-label>  



    <ion-item>

      <ion-label position="floating" color="success">E-mail</ion-label>

      <ion-input type="email" formControlName="username"></ion-input>
     

    </ion-item>

    <ion-item>

      <ion-label position="floating" color="success">Senha</ion-label>

      <ion-input type="password" formControlName="password"></ion-input>

    </ion-item>

  </ion-list>
  <ion-button color="success" expand="block" (click)="logar()" [disabled]="formGroup.invalid">Entrar</ion-button>

  
</form>
</ion-content>
