<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Serviços prestados</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen class="ion-padding">


  <ion-card>
    <ion-card-content>
      <ion-text color="light">
        <h2> • Soroterapia</h2>
        <h2> • Intramuscular</h2>
        <h2> • Implantes Hormonais</h2>
        <h2> • Mesoterapia</h2>
        <h2> • Tratamentos Estéticos</h2>
 
      </ion-text>
    </ion-card-content>
  </ion-card>