<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-down">Serviços prestados</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-button expand="block" color="medium" a href="dieta-cetogenica" a href="dietas-servicos">Soroterapia:
  
    <ion-icon slot="end" size="large" name="arrow-back-outline" a href="/dietas-servicos"></ion-icon>
  </ion-button>

  <ion-card>
    <ion-card-content>
   <div>
    
    </div>
  
    <div id="info">
      É um tratamento de uma doença por meio de soro, ou seja, de anticorpos já preparados.
    </div>
    
    </ion-card-content>
    
  </ion-card>




    <ion-button expand="block" color="medium" >Intramuscular:
    </ion-button>
  
    <ion-card>
      <ion-card-content>
     <div>
      
      </div>
      
    <div id="info">
      Na via intramuscular a vacina é introduzida dentro do tecido muscular.<p>
      Essa via é muito utilizada porque possui uma rápida absorção.</p> 
    </div>
    
    </ion-card-content>
    
  </ion-card>

  <ion-button expand="block" color="medium">Implantes Hormanais:
  </ion-button>

  <ion-card>
    <ion-card-content>
   <div>
   
    </div>
    <div id="info">
      O implante hormonal é um método de tratamento para algumas doenças ginecológicas.
    </div>
    
  </ion-card-content>
</ion-card>
    
  <ion-button expand="block" color="medium">Mesoterapia:
  </ion-button>

<ion-card>
<ion-card-content>
  <div>

    </div>
    <div id="info">
        Consiste na aplicação de medicamentos sob a pele. 
        </div>
    </ion-card-content></ion-card>
        
  <ion-button expand="block" color="medium">Tratamentos Estéticos:
  </ion-button>

  <ion-card>
    <ion-card-content>
   <div>
   
    Tratamentos Estéticos em Geral
  </div>
    </ion-card-content>
  </ion-card>