<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Serviços Prestados</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen class="ion-padding">
   
  <ion-card id="grad">
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="dark">Lista de Nossos Serviços:</ion-card-title>

      

    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor= "let servico of listas">
        • {{servico.nome}}

      </ion-item>
    </ion-card-content>
  </ion-card>