<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
<ion-title class="ion-text-down">Cetogênica</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content fullscreen class="ion-padding">
    <ion-button expand="block" color="medium" a href="dieta-cetogenica" a href="dieta-user">A dieta cetogênica consiste:

      
      <ion-icon slot="end" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
 
    <ion-card>
      <ion-card-content>
     <div>
      
      </div>
    
      <div id="info">
        Em uma redução drástica de carboidratos na alimentação, que participarão apenas de 10 a 15% das calorias diárias totais do cardápio. 
        <p>No entanto, esta quantidade pode variar de acordo com o estado de sáude, tempo de duração da dieta e objetivos de cada pessoa.
        </p>
      </div>
      
      </ion-card-content>
      
    </ion-card>
 
</ion-content>