<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start">

          <ion-back-button></ion-back-button>

      </ion-buttons>
    

    <ion-title class="ion-text-center">Cetogênica</ion-title>

  </ion-toolbar>

</ion-header>
  <ion-content fullscreen class="ion-padding">
   
 
    <ion-card>
      <ion-card-content>
        <ion-text class="ion-text-center" color="light">
          <h1>Dieta Cetogênica</h1>
          <h4>A dieta cetogênica consiste em uma redução drástica de carboidratos na alimentação, que participarão apenas de 10 a 15% das calorias diárias totais do cardápio. No entanto, esta quantidade pode variar de acordo com o estado de saúde, tempo de duração da dieta e objetivos de cada pessoa.</h4>
        </ion-text>
      
      </ion-card-content>
      
    </ion-card>
 
</ion-content>