<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start">

        <ion-menu-button></ion-menu-button>

      </ion-buttons>
    

    <ion-title class="ion-text-center">Dietas</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content fullscreen class="ion-padding">
   
<ion-card>
  <ion-card-header>

    <ion-card-title class="ion-text-center" color="dark">Escolha um ponto informativo:</ion-card-title>
    
  </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor= "let dieta of listad">
        <div id="buttons"  (click)="visualizar(dieta)">
          {{dieta.nome}}

        </div>
    <!-- <ion-button expand="block" fill="outline" color="medium"   (click)="visualizar(dieta)">{{dieta.nome}}
    </ion-button> -->
 
   

</ion-item>
</ion-list>
  </ion-card-content>

</ion-card>
</ion-content>