* {
    --ion-item-background: #F2EFEF;
}
ion-card-header {
    background: rgb(255,141,0);
    background: linear-gradient(90deg, rgba(255,141,0,1) 0%, rgba(132,107,255,1) 100%);
    
}
ion-card {
    background-color: #F2EFEF;
}
ion-list {
  margin-top: 10px;
}

#buttons {
    display: flex;
  background-color: #846bff;
  border-radius: 3px;
  border: 2px solid #846bff;
  background-color: transparent;
  width: 100%;
  height: 40px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  color: #846bff;
}
 