<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Cadastrar Pratos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="stacked">Nome do prato</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Calorias</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Grupo</ion-label>
        <ion-select>
            <ion-select-option value="graos">Grãos</ion-select-option>
            <ion-select-option value="carnes">Carnes</ion-select-option>
            <ion-select-option value="peixes">Peixes</ion-select-option>
            <ion-select-option value="derivados">Derivados</ion-select-option>
            <ion-select-option value="bebidas">Bebidas</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button color="medium" expand="block">Cadastrar</ion-button>
</ion-content>