<ion-header>
    <ion-toolbar>
        <ion-title>pratos-cadastro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="stacked">Nome do prato</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Calorias</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Grupo</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-button expand="block">Cadastrar</ion-button>
</ion-content>