<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Risso Saúde Integrada</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content fullscreen class="ion-padding">
    
    <ion-card color="light">

      <ion-card-content>
    <ion-card (click)="marcar()"  color="medium">

      <ion-card-content > 
        <ion-text color="light" class="ion-text-center">
          <h5>Marcar Consulta </h5>
     
        </ion-text>
  


      </ion-card-content>
    </ion-card>

    
    <ion-card color="medium">

      <ion-card-content>
        <ion-text color="light" class="ion-text-center">
          <h5>Montar Refeição</h5>
        </ion-text>

      </ion-card-content>
    </ion-card>

  </ion-card-content>
</ion-card>


    
     

 <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-vimeo"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-google"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    
 
</ion-content>
